# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# TypeScript build and coverage output
dist/
coverage/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

.reference/
